:root {
    --primary-color: #472a2a;
    --hover-color: #795548;
    --text-color: #333;
    --background-color: white;
    --font-size-large: 30px;
}

/* Resetting default settings */
.navbar,
.navbar ul,
.navbar li,
.navbar a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: var(--font-size-large);
}

.navbar {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 50px; /* Even spacing for all nav items */
}

.navbar a {
    color: var(--background-color);
    font-weight: bold;
    text-transform: uppercase;
}

.navbar a:hover, .navbar a:focus {
    background-color: var(--background-color);
    color: var(--hover-color);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Section 1 - Form styling */
h1 {
    text-align: center;
    color: var(--text-color);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type="text"] {
    border: 1px solid var(--primary-color);
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: var(--hover-color);
}

/* Footer styling */
.footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
