:root {
    --primary-color: #472a2a;
    --hover-color: #795548;
    --text-color: #333;
    --background-color: white;
    --font-size-large: 30px;
}

.ui-datepicker {
    background-color: white;
}

.ui-autocomplete {
    background-color: white;
}

#clearButton {
    background-color: lightgrey;
    color: black;
}

/* Resetting default settings for navigation */
.navbar,
.navbar ul,
.navbar li,
.navbar a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


/* Styling for the navigation bar */
.navbar {
    background-color: var(--primary-color);
    text-align: center;
}

.max-w-md {
    max-width: 85%;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 50px;
    /* Even spacing for all nav items */
}

.navbar a {
    color: var(--background-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: var(--font-size-large);
}

.navbar a:hover,
.navbar a:focus {
    background-color: var(--background-color);
    color: var(--hover-color);
}

/* Image styling */
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Form and input styling */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type="text"] {
    border: 1px solid var(--primary-color);
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: var(--hover-color);
}

/* Footer styling */
.footer {
    padding: 10px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.footer h2 {
    font-size: 15px;
}

/* Output Boxes Styling */
#flightInfoOutput,
#weatherInfoOutput {
    background-color: var(--background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Unhide class to show output boxes */
.unhide {
    display: block;
}

/* Output Boxes Styling */
#flightInfoOffers,
#flightInfoOutput,
#weatherInfoOutput {
    max-height: 500px;
    /* Adjust the height as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
    margin-bottom: 20px;
    /* Space between boxes */
}

/* Table Object Styling*/
#JsObjectTable {
    width: 100%;
    border-collapse: collapse;
    /* Table borders */
    margin-top: 20px;
}

#JsObjectTable th,
#JsObjectTable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

#JsObjectTable .table-col-heading {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

#flightInfoOutput {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.flight-box {
    background-color: var(--hover-color);
    color: white;
    display: flex;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 8px;
    flex-direction: column;
    padding: 3%;

}

.flight-box>div {
    box-sizing: border-box;
    padding: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#center {
    text-align: center;
}